*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}

body{
	height: 100vh;
	width: 100%;
}

.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("img/bg.jpg") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background: url("../img/login.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}


label {
    display: block; 
    font-size: large;
    font-weight: bold;
    margin: 25px 0px 5px 0px;
    text-align: left;
    }

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.username, .password{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;

	transition: .3s;
}

.username:hover, .password:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

.lupa {
    text-align: right;
}


.remember-me {
    display: flex;
    justify-content: center;
    align-items: center;
}

.remember-me input {
    margin: 20px 0px 5px 0px;
}

.remember-me label {
    width: 300px;
    color: black;
    font-size: medium;
    font-weight: 100;
}


.btn{
	width: 100%;
	padding: 10px;
    margin: 0px 3px 0px 3px;
	background-color: #2ecc71;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
    text-decoration: none;
    
}

.btn:hover{
    background-color: #27ae60;
}

.username:focus, 
.password:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}



/* product-responsive */

.container1{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}


.konten {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    justify-content: center;
    align-items: center;
}

.kanan, .kiri {
    background-color: #EEEEEE;
    border: 1px solid black;
    padding: 50px;
    max-height: 500px;
    min-height: 500px;
}

.kiri {
    border: 1px solid black;
    padding: 50px;
    overflow: scroll;
}

input[type="text"],
input[type="number"],
select,
textarea {
width: 100%; 
padding: 10px; 
border: 1px solid #ccc; 
border-radius: 5px;
font-size: 16px; 
box-sizing: border-box;
}

.edit {
    display: none;
  }

.error {
display: none;
width: 100%;
margin: 15px 0px;
padding: 5px 0px;
text-align: center;
border-radius: 5px;
background-color: #E72929;
}

table {
width: 100%;
text-align: center;
border: 1px solid black;
}

thead {
font-size: large;
font-weight: bold;
border: 1px solid black;
background-color: #efd576;
}

td {
padding: 5px;
/* width: 10px; */
}

button {
width: 100%; 
margin-top: 30px;
padding: 10px; 
background-color: #007bff; 
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
}
.tombol {
width: 100%;
padding: 3px;
margin: 0px 3px 0px 3px;
background-color: #2ecc71;
color: #fff;
font-size: 1.1rem;
border: none;
outline: none;
cursor: pointer;
transition: .3s;
text-decoration: none;

}
.tombol-edit {
background-color: #3E6D9C;

}
.tombol-delete {
background-color: #E72929;
}

button:hover {
background-color: #0056b3; 
}


h4 {
text-align: center;
font-size: 40px;
margin-bottom: 25px;
}


/* Aturan CSS tambahan untuk lebar layar <= 1035px */
@media screen and (max-width: 1035px) {
    .container1 {
      padding: 20px;
    }
  
    .konten {
      grid-template-columns: 1fr;
    }
  
    .kanan,
    .kiri {
      padding: 20px;
      max-height: none;
      min-height: auto;
      /* width: 300px; */
    }
  
    .form-group {
      margin-bottom: 10px;
    }
    .tombol-edit {
        background-color: #3c999e;
    }
    .tombol-delete {
    background-color: #e78b29;
    }
    button {
        background-color: #27ae60;
    }
    
  }
  
  /* Aturan CSS tambahan untuk lebar layar <= 880px */
  @media screen and (max-width: 880px) {
    /* login */
    .contact-box{
        grid-template-columns: 1fr;
    }
    .left{
        height: 300px;
    }
    
    h2:after{
        background-color: #0056b3;
    }
    
    .btn{
        background-color: #0056b3;
    }
    .btn:hover{
        background-color: #013673;
    }
    
    
    .container1 {
      padding: 20px;
    }
  
    .konten {
      grid-template-columns: 1fr;
    }
  
    .kanan,
    .kiri {
      padding: 15px;
      max-height: none;
      min-height: auto;
    }
  
    .form-group {
      margin-bottom: 10px;
    }
  
    input[type="text"],
    input[type="number"],
    select,
    textarea {
      font-size: 14px;
    }
  
    button {
      font-size: 14px;
    }
  
    h4 {
      font-size: 30px;
    }
  }
  
  /* Aturan CSS tambahan untuk lebar layar <= 768px */
  @media screen and (max-width: 768px) {
    .container1 {
      padding: 20px;
    }
  
    .konten {
      grid-template-columns: 1fr;
    }
  
    .kanan,
    .kiri {
      padding: 20px;
      max-height: none;
      min-height: auto;
    }
  
    .form-group {
      margin-bottom: 15px;
    }
  }
  
  /* Aturan CSS tambahan untuk lebar layar <= 576px */
  @media screen and (max-width: 576px) {
    .container1 {
      padding: 20px;
    }
  
    .kiri,
    .kanan {
      padding: 20px;
    }
  
    .kiri {
      max-height: none;
      min-height: auto;
      overflow: auto;
    }
  }
  
  /* Aturan CSS tambahan untuk lebar layar <= 425px */
  @media screen and (max-width: 425px) {
    input[type="text"],
    input[type="number"],
    select,
    textarea {
      font-size: 14px;
    }
  
    h4 {
      font-size: 30px;
    }
  
    button {
      font-size: 14px;
    }
  }
  